
.mi-nav{
    background-color:rgba(0, 2, 7, 0.973);
    height: 70px;
}
.mi-icono{
    color: mediumorchid;
    font-size: 50px;
}

.card-body{
    grid-area: 1/1/4/2;
    background-color:rgb(231, 243, 253);
}

.carousele {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.carousele img {
    height: 100px;
    margin-right: 10px;
    scroll-snap-align: start;
}
.carousele img:last-child {
    margin-right: 0;
}

.whatsapp-icon {
    font-size: 45px;
    color: #25D366; /* Color oficial de WhatsApp */
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .bg-custom-blue {
    background-color: #00d4ff; 
  }
  .text-custom-blue {
    color: #00d4ff; 
  }
  .border-custom-blue {
    border-color: #00d4ff; 
  }
  .focus\:ring-custom-blue:focus {
    --tw-ring-color: #00d4ff; 
  }
  .hover\:bg-custom-blue:hover {
    background-color: #00d4ff; 
  }

  