
.mi-nav{
    background-color:rgba(0, 2, 7, 0.973);
    height: 70px;
}
.mi-icono{
    color: mediumorchid;
    font-size: 50px;
}

.card-body{
    grid-area: 1/1/4/2;
    background-color:rgb(231, 243, 253);
}

.carousele {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.carousele img {
    height: 100px;
    margin-right: 10px;
    scroll-snap-align: start;
}
.carousele img:last-child {
    margin-right: 0;
}

.whatsapp-icon {
    font-size: 45px;
    color: #25D366; /* Color oficial de WhatsApp */
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .bg-custom-blue {
    background-color: #00d4ff; 
  }
  .text-custom-blue {
    color: #00d4ff; 
  }
  .border-custom-blue {
    border-color: #00d4ff; 
  }
  .focus\:ring-custom-blue:focus {
    --tw-ring-color: #00d4ff; 
  }
  .hover\:bg-custom-blue:hover {
    background-color: #00d4ff; 
  }
  
  /* TABLA DE VENTAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Aplicar estilos al body */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  color: #000000; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #000000; 
  padding: 12px;
  text-align: center;
}

.table th {
  background-color:  rgb(6, 131, 241); 
  color: #ffffff; 
  font-weight: bold;
  text-transform: uppercase;
}

.table td {
  background-color: rgb(6, 131, 241); 
}

.table tfoot td {
  background-color: rgb(6, 131, 241); 
  color: #ffffff; 
  font-weight: bold;
}

/* Estilo para filas impares */
.table tbody tr:nth-child(odd) {
  background-color: #d83434; /* gris claro */
}

/* Estilo para las celdas de datos */
.table tbody td {
  color: #000000; /* negro */
}